@model IEnumerable<IronDome.Models.Threat>

@{
	ViewData["Title"] = "AttackArea";
}

<h1>Attack Area</h1>

<p>
	<a asp-action="createThreat">Create New Threat</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				אני הייתי רפי
			</th>
			<th>
				Organization
			</th>
			<th>
				Type
			</th>
			<th>
				@* @Html.DisplayNameFor(model => model.status) *@
				Status
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Org.name)
				</td>
				<td>
					<img src="https://tmuna.net/wp-content/uploads/2024/07/%D7%AA%D7%9E%D7%95%D7%A0%D7%AA-%D7%A7%D7%95%D7%A3-%D7%A2%D7%9D-%D7%A1%D7%99%D7%92%D7%A8-%D7%9E%D7%A7%D7%98-an227.webp" alt="Italian Trulli">
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.status)
				</td>
				<td>
					@if (item.status == IronDome.Utils.ThreatStatus.Inactive)
					{	
						@* <span> *@
						 @Html.ActionLink("Lunch Attack", "Launch", new { id = item.id })
						 @* <button onclick="invokeLaunch(@item.id, @item.responseTime, " @($"{item.Org.name} {item.type.name}") ")></button> *@
					}
					else
					{
						<p>@item.fired_at</p>
					}
				</td>
				<td>
					<button onclick="invokeLaunch(@item.id, @item.responseTime, ' @($"{item.Org.name} {item.type.name}") ')">rt launch</button>
				</td>
			</tr>
		}
	</tbody>
</table>
