@model IEnumerable<IronDome.Models.Threat>

@{
	ViewData["Title"] = "DeffenceArea";
}

<h1>DeffenceArea</h1>
<h2>gadi</h2>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.responseTime)
			</th>
			<th>
				Details
			</th>
			<th>
				@Html.DisplayNameFor(model => model.status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.fired_at)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="def-bod-tbl">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.responseTime)
				</td>
				<td>
					<span>@item.Org.name, @item.type.name</span>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.fired_at)
				</td>
				@if (item.status == IronDome.Utils.ThreatStatus.Active)
				{
					<td>
						@Html.ActionLink("Iron Dome", "Intercept", new { tid = item.id, did = 1 }) |
						@Html.ActionLink("Patriot", "Intercept", new { tid = item.id, did = 2 })
					</td>
				}
				else
				{
					<td>
						<span>No available action at the moment</span>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
