@model IEnumerable<IronDome.Models.DefenceAmmunition>

@{
    ViewData["Title"] = "Index";
}

<h1>DEfence Ammiunition</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
			<div class="yoni.p.">
	            <a asp-action="my team">Pachshish</a>
			</div>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.amount) *@
                    <form asp-action="updateDefenceAmmiunition" method="get">
                    <input name="amount" value="@item.amount" />
                    <input name="dfid" hidden="hidden" value="@item.id" />
                    <input type="submit" value="Update" />
                </form>
            </td>
        </tr>
        <div class="tzvi">
            <h1>מה הולך יא יוסיייייייייייייייייייי</h1>
        </div>
}
    </tbody>
    <footer>
        <p>"programming is fun. for those who enjoy it..."</p>
        <p>"Meir Gross 2024"</p>
    </footer>
</table>
